* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


li, a, button {
	font-size: 16px;
	font-weight: 500;
	color: #0C3050;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	margin:20px 80px;
}


.logo {
	cursor: pointer;
	margin-top: -20px;
}

.nav-link {
	list-style: none;
}
.nav-link li {
	display: inline-block;
	padding: 0px 20px;
}
.nav-link li a {
	transition: all 0.3s ease 0s;
}
.header-btn {
	color: white;
	padding: 9px 25px;
	background-color: #0C3050;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	margin-top: -20px;
}
.banner {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 100px;
	margin-top: 20px;
	background-image: url(./img/bgheader.png);
	background-size:auto	;
	/* background-position: center center; */
}

.card {
	border: none;
	position: relative;
}

.card .card-text {
	position: absolute;
	top: 50%;
}
.card-text {
	margin-left: 250px;
}

.card-text h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 56px;
	/* identical to box height, or 233% */
	text-transform: uppercase;
	color: #0C3050;
	/* margin-left: 250px; */
	margin-top: -300px;
}

.card-text h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 56px;
	/* identical to box height, or 117% */
	color: #0C3050;

}

