* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


li, a, button {
	font-size: 16px;
	font-weight: 500;
	color: #0C3050;
	text-decoration: none;
}
/* nav */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	margin:20px 80px;
}


.logo {
	cursor: pointer;
	margin-top: -20px;
}

.nav-link {
	list-style: none;
}
.nav-link li {
	display: inline-block;
	padding: 0px 20px;
}
.nav-link li a {
	transition: all 0.3s ease 0s;
}
.header-btn {
	color: white;
	padding: 9px 25px;
	background-color: #0C3050;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	margin-top: -20px;
}

/* background and banner */
.banner {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 100px;
	margin-top: 20px;
	background-image: url(./img/bgheader.png);
	background-size:auto	;
	/* background-position: center center; */
}

.card {
	border: none;
	position: relative;
}

.card .card-text {
	position: absolute;
	top: 50%;
}
.card-text {
	margin:20px 250px;
}

.card-text h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 56px;
	text-transform: uppercase;
	color: #0C3050;
	margin-top: -300px;
}

.card-text h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 56px;
	color: #0C3050;
}

.card-btn {
	position: absolute;
	width: 153px;
	height: 38px;
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid #0C3050;
	box-sizing: border-box;
	border-radius: 50px;
}

/* hình lẻ ở dưới background banner  */

.tree {
	position: relative;
}

.thong {
	margin-top: 40rem;
}
.tron {
	margin-top: 42rem;
}

.bala {
	margin-top: 37rem;
}

.thong1 {
	margin-top: 37rem;
}
.tron1 {
	margin-top: 40rem;
}

.bala1 {
	margin-top: 38rem;
}
/* header */
.main-header {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 56px;

	text-align: center;
	text-transform: uppercase;

	color: #CF585E;
}

.slogan-main-header {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 56px;
	/* or 117% */
	
	text-align: center;
	
	color: #0C3050;
}

/* image-APEC city */
.img-city {
	position: absolute;
}

.bg-city-img {
	display: flex;
	align-items: center;
}
.marketing-img, .concept-img, .bo-img, .it-img, .chungkhoan-img, .xaydung-img, .khachsan-img,.kinhdoanh-img,.chuakhaipha-img {
	margin-top: -95rem;
}
 .post-main-header {
	 position: absolute;
	 padding: 70px 40px;
	 width: 100%;
	 max-width: 300px;
	 background: #FFFFFF;
	box-shadow: 0px 4px 25px rgba(55, 7, 0, 0.1);
	border-radius: 20px;
	margin-top: 70rem;
	margin-left: 50px;
 }

.main-body {
	background: rgba(89, 116, 135, 0.1);
	margin-top: 100rem;
}

.main-body img {
	width: 80%;
}

.main-body-text h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 56px;
	text-transform: uppercase;
	color: #CF585E;
}

.main-body-text h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 56px;
	color: #0C3050;
}

.main-body-text p {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #597487;
}
.main-body-bg {
	background-image: url(./img/BG1.png);
}